<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Activates various annotations to be detected in bean classes -->
    <context:annotation-config/>

    <context:property-placeholder location="classpath:connection.properties"/>

    <context:component-scan base-package="com.madrona.hibernate"/>

    <!-- Activates annotation based transaction management -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Hibernate Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Hibernate Session Factory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="hibernate.cfg.xml"/>
        <property name="packagesToScan">
            <array>
                <value>com.madrona.hibernate.model</value>
            </array>
        </property>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${mysql.login.jdbc.driver}"/>
        <property name="jdbcUrl" value="${mysql.login.url}"/>
        <property name="user" value="${mysql.login.username}"/>
        <property name="password" value="${mysql.login.password}"/>
        <!-- configuration pool via c3p0-->
        <property name="acquireIncrement" value="${mysql.c3p0.acquireIncrement}"/>
        <property name="idleConnectionTestPeriod" value="${mysql.c3p0.idleConnectionTestPeriod}"/>
        <property name="maxPoolSize" value="${mysql.c3p0.maxPoolSize}"/>
        <property name="maxStatements" value="${mysql.c3p0.maxStatements}"/>
        <property name="minPoolSize" value="${mysql.c3p0.minPoolSize}"/>
        <property name="initialPoolSize" value="${mysql.c3p0.initialPoolSize}"/>
        <property name="maxIdleTime" value="${mysql.c3p0.maxIdleTime}"/>
        <property name="acquireRetryAttempts" value="${mysql.c3p0.acquireRetryAttempts}"/>
        <property name="acquireRetryDelay" value="${mysql.c3p0.acquireRetryDelay}"/>
        <property name="breakAfterAcquireFailure" value="${mysql.c3p0.breakAfterAcquireFailure}"/>
    </bean>

</beans>

